body {
    margin: 0;
    /* background-color: black; */
}

#score-board {
    position: fixed;
    margin: 10px;
}

.start-game {
    display: flex;
    justify-content: center;
}

#win {
    display: none;
    /* display: flex;
    justify-content: center; */
}

#restart {
    width: 100px;
    height: 20px;
}
   
#fail {
    display: none;

    /* display: flex;
    justify-content: center; */
}

#control {
    display: none;
}

.hidden {
    /* display: flex;
    justify-content: center; */
    position: fixed; /* Sit on top of the page content */
    /* display: none;  */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    text-align: center;
    /* position: fixed; */
    /* display: none; */
}
